html, body {
    height: 100%;
    margin: 0;
}

.staff-profile-page {
    background-image: url('../../public/images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: black;
  }
  
  header {
    background-color: rgb(238, 238, 238);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
  }
  
  header .logo-wrapper {
    display: flex;
    align-items: center;
  }
  
  header .logo-wrapper img {
    height: 100px;
    width: auto;
  }
  
  header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-family: 'Gordon Condensed', sans-serif;
  }
  
  header nav ul li {
    margin-left: 20px;
  }
  
  header nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
  }
  
  .main-content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 140px);
  }
  
  .profile-wrapper {
    background: rgba(211, 208, 208, 0.6);
    padding: 40px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .profile-box {
    background: rgb(10, 66, 10);
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    color: white;
    font-family: 'Bucket Roman Basic', serif;
  }
  
  .profile-box h2 {
    margin-bottom: 20px;
  }
  
  .profile-box .profile-picture {
    margin-bottom: 20px;
  }
  
  .profile-box .profile-picture img {
    border-radius: 50%;
  }
  
  .profile-box input {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    background: rgb(10, 66, 10);
    color: white;
    border: 1px solid white;
    border-radius: 5px;
  }
  
  .profile-box button {
    width: 100%;
    padding: 10px;
    background: #c7c4c4;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Bucket Roman Basic', serif;
    font-weight: bold;
  }

  .back-link {
    color: white;
    text-decoration: none;
    font-size: 16px;
    margin-top: 20px;
    display: inline-block;
  }
  
  .back-link:hover {
    text-decoration: underline;
  }
  
  .footer {
    background-color: grey;
    padding: 20px;
    text-align: center;
    color: white;
    flex-shrink: 0;
    font-weight: bold;
    font-family: 'Gordon Condensed', sans-serif;
  }
  
  .footer .footer-content {
    display: flex;
    justify-content: space-between;
  }
  
  .footer .footer-content div {
    margin: 0 10px;
  }
  
  .social-media-icons {
    margin-top: 20px;
  }
  
  .social-media-icons a {
    margin: 0 10px;
    color: white;
    font-size: 24px;
    text-decoration: none;
  }
  
  .social-media-icons a:hover {
    color: #000;
  }